/*
CSS formulate to scale text to screen size

calc(minsize + (maxsize - minsize) * ((maxViewPortWidth - minWidth) / (maxWidth - minWidth)))

Example:
font-size:calc(15px + (22 - 15) * ((100vw - 300px) / (1600 - 300)));
*/

body {
  padding: 0%;
  margin: 0%;
}